{% load i18n %}

{% block subject %}
{% blocktrans %}Activation de votre compte sur {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Bonjour,

vous venez de créer un compte sur {{ site_name }} !
Pour acceder à nos services d'achats de billet en ligne, vous
devez aciver votre compte.

{% endblocktrans %}

{% trans "J'active mon compte:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "A bientôt !" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Bonjour, </br>
    Vous venez de créer un compte sur {{ site_name }}.</br>
    Pour acceder à nos service d'achats de billets en ligne, vous devez activer votre compte.
{% endblocktrans %}
</p>

<p>{% trans "Cliquez sur le lien suivant pour activer votre compte:" %}</p>
<p><a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">J'active mon compte</a></p>

<p>{% trans "A bientôt !" %}</p>

<p>{% blocktrans %}L'équipe {{ site_name }}{% endblocktrans %}</p>

{% endblock html_body %}